@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-inter);
	margin: 0;
	background-color: #fffefd !important;
}

main {
	margin-left: 250px;
	padding: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[name="resume"] {
	/* padding: 100px; */
}
